@font-face {
  font-family: "letra";
  src: url("../fonts/NeueHaasDisplayLight.ttf");
}
@font-face {
  font-family: "letracursiva";
  src: url("../fonts/NeueHaasDisplayLightItalic.ttf");
}
@font-face {
  font-family: "gotile";
  src: url("../fonts/Gotile.ttf");
}
@font-face {
  font-family: "means";
  src: url(../fonts/Means-Regular-Web.c14e83d3.1.woff2);
}
@font-face {
  font-family: "graphik";
  src: url(../fonts/Graphik-Regular-Web.11b60cc4.1.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 80px;
  padding-top: 1px;
  background-color: transparent;
}

.navbar {
  background-color: transparent;
  align-items: center;
  padding-top: 5px;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .navbar {
    margin-top: 38%;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .navbar {
    margin-top: 46%;
  }
}
@media screen and (max-height: 370px) {
  .navbar {
    margin-top: 35%;
  }
}
.navbar .navbar-toggler-icon {
  background-image: url(../img/varr.png);
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-brand {
  padding-left: 55px;
}
@media screen and (max-width: 991px) {
  .navbar .navbar-brand {
    padding-left: 10px;
  }
}
@media screen and (max-width: 750px) {
  .navbar .navbar-brand {
    display: flex;
    justify-content: center;
  }
}
.navbar .navbar-brand .logo {
  width: 19px;
  margin-left: 20px;
  display: none;
}
@media screen and (max-width: 991px) {
  .navbar .navbar-brand .logo {
    display: flex;
  }
}
.navbar .navbar-brand:hover {
  transform: scale(1.1);
}
.navbar .navbar-collapse {
  flex-grow: 1;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .navbar .navbar-collapse {
    background-color: rgb(255, 255, 255);
  }
}
.navbar .navbar-nav {
  padding-top: 2px;
  display: flex;
  justify-content: flex-end;
  margin-left: 100px;
}
@media screen and (max-width: 991px) {
  .navbar .navbar-nav {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-height: 370px) {
  .navbar .navbar-nav {
    margin-left: 600px;
  }
}
.navbar .navbar-nav .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
.navbar .navbar-nav .nav-link .logos {
  width: 100px;
}
.navbar .nav-link:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media screen and (max-height: 370px) {
  .navbar-nav {
    margin-top: -200px;
    margin-left: 600px;
  }
}

.container {
  width: 100%;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
}

.section1 {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -195px;
}
@media screen and (max-width: 750px) {
  .section1 {
    margin-top: -99px;
  }
}
.section1 .bloque1 {
  display: flex;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 19px;
  justify-content: center;
}
.section1 .bloque1 .esquina {
  width: 100%;
}
.section1 .bloque1 .esquina2 {
  display: none;
  width: 100%;
}

.div {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
@media screen and (max-width: 750px) {
  .div {
    margin-top: 0px;
  }
}

.image-container {
  position: relative;
  width: 160px;
  height: auto;
}

.divisor {
  width: 160px;
}
@media screen and (max-width: 750px) {
  .divisor {
    display: none;
  }
}

.comiste {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  opacity: 0;
}
@media screen and (max-width: 750px) {
  .comiste {
    display: none;
  }
}

.image-container:hover .divisor {
  opacity: 0;
}

.image-container:hover .comiste {
  opacity: 1;
}

.div2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  display: none;
}
@media screen and (max-width: 750px) {
  .div2 {
    margin-top: 0px;
    display: flex;
    padding-right: 50px;
  }
}
.div2 .image-container2 {
  position: relative;
  width: 160px;
  height: auto;
}
.div2 .divisor2 {
  width: 110px;
}
.div2 .comiste2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  opacity: 0;
}
.div2 .image-container2:hover .divisor2 {
  opacity: 0;
}
.div2 .image-container2:hover .comiste2 {
  opacity: 1;
}

.dos {
  background-color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .dos {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 750px) {
  .dos {
    padding-bottom: 10px;
  }
}

.elfede {
  display: flex;
  padding: 50px;
}
@media screen and (max-width: 991px) {
  .elfede {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}
@media screen and (max-width: 750px) {
  .elfede {
    margin-top: 50px;
  }
}
.elfede .texto2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "letra";
  padding: 40px;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .elfede .texto2 {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .elfede .texto2 {
    padding: 2px;
  }
}
.elfede .texto2 h2 {
  font-size: xx-large;
}
.elfede .texto2 h3 {
  font-size: smaller;
}
.elfede .texto2 h6 {
  padding: 20px;
  font-size: x-large;
}
.elfede .imagen2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .elfede .imagen2 {
    margin-top: 70px;
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .elfede .imagen2 {
    margin-bottom: 70px;
  }
}
.elfede .imagen2 .fedelogo {
  flex-shrink: 0;
  max-width: 60%;
}

.tres {
  background-color: #ffffff;
  margin-bottom: 30px;
}

.section3 {
  width: 100%;
  display: flex;
}
@media screen and (max-width: 991px) {
  .section3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
}
@media screen and (max-width: 750px) {
  .section3 {
    margin-top: 90px;
  }
}
.section3 .imagen3 {
  width: 60%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-right: 0px;
}
@media screen and (max-width: 991px) {
  .section3 .imagen3 {
    width: 100%;
    padding: 0px;
    order: 2;
    margin-top: 10px;
  }
}
.section3 .imagen3 .vrdoc {
  width: 100%;
  border-radius: 19px;
}
@media screen and (max-width: 991px) {
  .section3 .imagen3 .vrdoc {
    border-radius: 0px;
  }
}
.section3 .texto3 {
  font-family: "letra";
  padding: 40px;
  padding-top: 27%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  .section3 .texto3 {
    width: 100%;
    padding: 30px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 750px) {
  .section3 .texto3 {
    padding: 2px;
  }
}
@media screen and (max-width: 750px) {
  .section3 .texto3 h2 {
    padding-left: 15px;
  }
}
@media screen and (max-width: 750px) {
  .section3 .texto3 .h23 {
    padding-left: 15px;
  }
}
.section3 .texto3 h6 {
  padding: 20px;
  font-size: x-large;
}
@media screen and (max-width: 750px) {
  .section3 .texto3 h6 {
    padding: 40px;
    padding-top: 20px;
  }
}

.section4 {
  width: 100%;
  display: flex;
  margin-top: 100px;
  display: none;
}
@media screen and (max-width: 750px) {
  .section4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.section4 .texto4 {
  font-family: "letra";
  padding: 40px;
  padding-top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 750px) {
  .section4 .texto4 {
    width: 100%;
  }
}
.section4 .texto4 h6 {
  padding: 20px;
  font-size: x-large;
}
.section4 .imagen4 {
  width: 60%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 0px;
}
@media screen and (max-width: 750px) {
  .section4 .imagen4 {
    width: 100%;
  }
}
.section4 .imagen4 .vrdoc {
  width: 100%;
  border-radius: 19px;
}

footer {
  width: 100%;
  font-family: "letra";
  font-size: small;
  background-color: transparent;
  position: sticky;
}
@media screen and (max-width: 991px) {
  footer {
    position: absolute;
  }
}
footer .footer-div {
  background-color: transparent;
}
footer .footer-div .theend {
  background-color: transparent;
}
footer .apertura {
  width: 94%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  padding-top: 20px;
}
@media screen and (max-width: 991px) {
  footer .apertura {
    padding: 20px;
    margin-left: 0px;
    width: 100%;
  }
}
footer .apertura .abrimos {
  font-family: "letra";
  color: rgb(0, 0, 0);
  font-size: large;
  background-color: transparent;
}
@media screen and (max-width: 750px) {
  footer .apertura .abrimos {
    font-size: small;
  }
}
footer .apertura .abrimos2 {
  font-family: "letra";
  color: rgb(0, 0, 0);
  font-size: large;
  background-color: transparent;
}
@media screen and (max-width: 750px) {
  footer .apertura .abrimos2 {
    font-size: small;
  }
}

@media screen and (max-width: 991px) {
  .sticky-bottom {
    position: absolute;
    bottom: auto;
  }
}/*# sourceMappingURL=estilo.css.map */