footer{
 
    width: 100%;
    font-family:"letra";
    font-size: small;
    background-color: transparent;
    position: sticky;
    @include tablet{
        position:absolute;
    }
   

   

    .footer-div{background-color: transparent;
    
    .theend{background-color: transparent;}}
    
   

   
        .apertura{
            width: 94%;
            background-color: transparent;
            display: flex;
            justify-content: space-between;
            margin-left: 40px;
            padding-top: 20px;
            @include tablet {
               padding: 20px;
               margin-left: 0px;
               width: 100%;
            }
           

            .abrimos{
                font-family: "letra";
                color: rgb(0, 0, 0);
                font-size: large;
                background-color: transparent;
                @include mobile {font-size: small;}
            }

            .abrimos2{
                font-family: "letra";
                color: rgb(0, 0, 0);
                font-size: large;
           
                background-color: transparent;
                @include mobile {font-size: small;}
            }
        }
    }
    

    .sticky-bottom{
        @include tablet{
            position:absolute;
            bottom: auto;
        }}

  