

.header{
    width: 100%;
    height: 80px;
    padding-top: 10px;
     background-color: transparent;
    
}

    .navbar{
        background-color:transparent;
        align-items: center;
        padding-top: 5px;
        @include tablet{ padding-top:0px;}

        .navbar-toggler-icon {background-image: url(/img/varr.png);}
        .navbar-toggler {border: none;}
       

      
      
        .navbar-brand{
                padding-left: 55px;

                @include tablet{ padding-left: 10px;}
                @include mobile{display: flex;
                justify-content: center;}
          
            .logo{ width:29px;
            margin-left: 30px;
        @include mobile{ display: none;}}
       }
          
        
            .navbar-brand:hover{
                transform: scale(1.1);
            }
.navbar-collapse{ flex-grow: 0;
    
    @include tablet{background-color: rgb(255, 255, 255);}}
            
    .navbar-nav {margin-right: 350px;
                padding-top: 12px;
                @include tablet{ margin-right: 0px;}
               
               
                
            
            .nav-link{
               
                display: flex;
                justify-content: center;
                align-items: center;
            
            transition: background-color 0.3s ease;
        
        .logos{width: 100px;}}}

                .nav-link:hover{
                    transform: scale(1.1);
                }
                
            }
            
            
            

         

           
   
    
        
    
    

   

   
    
  
         


