

.header{
    width: 100%;
    height: 110px;
    padding: 10px;
   
    
    background-color: transparent;
}

    .navbar{
        background-color:transparent;
        align-items: center;
        padding-top: 18px;
        @include tablet{ padding-top:0px;}
      
      
        .navbar-brand{
                padding-left: 55px;

                @include tablet{ padding-left: 10px;}
          
            .logo{ width:35px}}
          
        
            .navbar-brand:hover{
                transform: scale(1.1);
            }
.navbar-collapse{ flex-grow: 0;
    @include mobile{background-color: rgb(255, 255, 255);}}
            .navbar-nav {margin-right: 200px;
                padding-top: 12px;
               
                
            
            .nav-link{
                
                font-family: "letra";
            font-size: large;
            color: black;
            transition: background-color 0.3s ease;}}

                .nav-link:hover{
                    transform: scale(1.1);
                }
                
            }
            
            
            

         

           

   
    
        
    
    

   

   
    
  
         


