.section1 {
    
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    width: 100%;
   margin-top: -195px;
   @include mobile{ margin-top: -20px;}
    

    

   
    
    .bloque1{
        display: flex;
      
        max-width: 100%;
       background-color: rgb(255, 255, 255);
        border-radius: 19px;
        justify-content: center;


        .esquina{ width: 100%;
            
        }
     
    
        @include tablet {
        
        max-width: 100%;
     }}
        
        


    }
    .div {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    
    .image-container {
        position: relative;
        width: 160px;
        height: auto; 
        
    }
    
    .divisor {
        width: 160px;
       
    }
    
    .comiste {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        
        opacity: 0;
    }
    
    .image-container:hover .divisor {
        opacity: 0;
    }
    
    .image-container:hover .comiste {
        opacity: 1;
    }