.section1 {
    
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    width: 100%;
   margin-top: -195px;
   @include mobile{ margin-top: -99px;}
    

    

   
    
    .bloque1{
        display: flex;
      
        max-width: 100%;
       background-color: rgb(255, 255, 255);
        border-radius: 19px;
        justify-content: center;
       
        


        .esquina{ width: 100%;
           
            
        }
     .esquina2 {display: none;
        width: 100%;
   }
    
        }
        
        


    }
    .div {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        @include mobile{margin-top: 0px;}
    }
    
    .image-container {
        position: relative;
        width: 160px;
        height: auto; 
       
        
    }
    
    .divisor {
        width: 160px;
        @include mobile { display: none;}
       
    }
    
    .comiste {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        
        opacity: 0;
        @include mobile{display: none;}
    }
    
    .image-container:hover .divisor {
        opacity: 0;
    }
    
    .image-container:hover .comiste {
        opacity: 1;
    }

    
    .div2 {
        display: flex;
        justify-content: flex-end;
        margin-top: 100px;
        display: none;
        @include mobile{margin-top: 0px;
        display: flex;
    padding-right: 50px;}

        .image-container2 {
            position: relative;
            width: 160px;
            height: auto; 
           
            
        }
    .divisor2 {
        width: 110px;}
        
       

        .comiste2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            
            opacity: 0;
        }
        
        .image-container2:hover .divisor2 {
            opacity: 0;
        }
        
        .image-container2:hover .comiste2 {
            opacity: 1;
        }
       
    }




  