@font-face {
    font-family: "letra";
    src: url("/fonts/NeueHaasDisplayLight.ttf");
}
@font-face {
    font-family: "letracursiva";
    src: url("/fonts/NeueHaasDisplayLightItalic.ttf");
}

@font-face {
    font-family: "gotile";
    src: url("/fonts/Gotile.ttf")}

    @font-face {
        font-family: "means";
        src: url(/fonts/Means-Regular-Web.c14e83d3.1.woff2)
    }

    @font-face {
        font-family: "graphik";
        src: url(/fonts/Graphik-Regular-Web.11b60cc4.1.woff2);
    }



$fontmono: "majormono";
$colorhyf: aliceblue;